<%= simple_form_for(@advertising) do |f| %>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :status %>
  </div>

  <%= f.button :submit %>
  <%= link_to 'Voltar', advertisings_path, class: 'btn' %>
<% end %>

<script>
  $('#advertising_status').attr('readonly', true);
</script>
