<%= simple_form_for(@advertising) do |f| %>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :status %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $('#advertising_status').attr('readonly', true);
</script>
