<h1>Listing advertisings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advertisings.each do |advertising| %>
  <tr>
    <td><%= advertising.title %></td>
    <td><%= advertising.description %></td>
    <td><%= advertising.status %></td>
    <td><%= advertising.user %></td>
    <td><%= link_to 'Show', advertising %></td>
    <td><%= link_to 'Edit', edit_advertising_path(advertising) %></td>
    <td><%= link_to 'Destroy', advertising, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advertising', new_advertising_path %>
